.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input{
    width: 100%;
    margin-top: 1vh;
    padding: 1vh;
}

.select{
    padding: 10px;
}